@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.dash{
    filter: invert(25%) sepia(67%) saturate(2081%) hue-rotate(227deg) brightness(91%) contrast(94%);
    width: 50px;
}